<ion-view title="side" class='panel' style='z-index: 999;'>
	<ion-slide-box on-slide-changed="slideHasChanged($index)" style="height: 100%;">
 	 <ion-slide style="height: 100%;width: 100%;">
  	  <div class="box blue" style="height: 100%;position: relative;"><img src="img/start1.png" style="width: 100%;height: 100%;"/></div>
 	 
 	 <div id="slide0">
 	 	<h3 style="position: absolute;left: 20px;bottom: 200px;color: #FFFFFF;animation: fadeinright 1.5s;">在你去过的地方留下故事</h3>
 		<h4 style="position: absolute;left: 20px;bottom: 150px;color: #FFFFFF;animation: fadeinright 2s;">在你去过的地方留下故事和经验吧永存不忘</h4>
 	 	<h4 style="position: absolute;left: 20px;bottom: 100px;color: #FFFFFF;animation: fadeinright 2s;">Leave your stories and experiences<br /> where you've been. Never forget</h4>
 	 	<h1 style="position: absolute;top:0px;left:30px;color: #FFFFFF; font-family: '方正舒体';font-style: oblique;animation:fadeinright 1.5s ">Find</h1>
 	 </div>
 	 
 	 </ion-slide>
 	 <ion-slide>
  	  <div class="box yellow" style="height: 100%;position: relative;"><img src="img/start2.jpg" style="height: 100%;width: 100%;"/></div>
 	  <div id="slide1" style="height: 100%;display: none;">
 	  	<h3 class="slide" style="position: absolute;left: 20px;bottom: 200px;color: #FFFFFF;animation: zoomin 2s;">一个人的等，等一个人的世界</h3>
 	 	 <h4 class="slide" style="position: absolute;left: 20px;bottom: 150px;color: #FFFFFF;animation: slideindown 1.5s;">路上的相思，人海的守望，错过的倾心再见</h4>
 	 	 <h4 class="slide" style="position: absolute;left: 20px;bottom: 50px;color: #FFFFFF;animation: slideindown 1s;">一个人的世界，一个人的看海，风景藏着一个人的柔情散，无奈藏着人生的相思断。<br />爱情好苦，思念好冷，只是无缘错过一个人的世界</h4>
 		 <h1 class="slide" style="position: absolute;top:0px;left: 30px;color: #FFFFFF; font-family: '方正舒体';font-style: oblique;animation:zoomin 1.5s ">Find</h1>
 	  </div>
 	  
 	 </ion-slide>
 	 <ion-slide >
 	   <div class="box pink" style="height: 100%;position: relative;"><img src="img/start3.jpg" style="width: 100%;height: 100%;"/></div>
 		<div id="slide2">
 			<h3 style="width: 25px;position: absolute;left: 50px;top: 200px;color: #FFFFFF;animation: zoomin 2s;">这个喧闹的城市里,</h3>
 			<h3 style="width: 25px;position: absolute;left: 90px;top: 300px;color: #FFFFFF;animation: zoomin 2s;">谁又在思念着谁。</h3>
 			<h1 class="slide" style="position: absolute; top:10px;left: 30px;color: #FFFFFF; font-family: '方正舒体';font-style: oblique;animation:slideindown 1s ">Find</h1>
 			<p style="position: absolute;bottom: 50px;text-align: center;width: 100%;">
 				<a style="font-size: 20px;color: paleturquoise;padding: 10px;box-shadow: 1px 2px 3px 2px lightcyan;border-radius: 5%;animation: twinkle 1.5s infinite alternate;" href="#">
  					点击开始Find生活
				</a>
 			</p>
 			
 		</div>
 	 
 	 </ion-slide>
	</ion-slide-box>
</ion-view>
